$white: #FDFBFD;
$black: #000;
$background: #F9FAFB;
$primary: #5F259F;
$primaryDark: #5F258F;
$primaryLight: #5F458F;
$disabledBackground: #CCC;
$disabledColor: #8C959B;
$valid: #4CAF50;
$invalid: #EF5350;
$primaryYellow: #FCAC16;