@import "../../styles/colors.scss";

.headerWrap {
  display: flex;
  flex-direction: column;
  background-color: $white;
  align-items: center;
  width: 100%;

  img {
    margin-top: 16px;
  }

  h1 {
    color: $primaryDark;
    margin: 16px 0px;
  }
}