@import "../../styles/colors.scss";

.headerWrap {
  display: flex;
  background-color: $white;
  justify-content: center;

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    flex-grow: 1;
    padding: 16px;

    .logoContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin-left: 8px;
      }
    }

    .logoutWrap {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: flex-end;
      justify-content: center;
      color: $primary;

      span {
        font-size: 16px;
        margin-bottom: 8px;
      }

      a {
        color: $primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .headerWrap {
    border-top-width: 20px;
  }
}